* {margin:0;padding:0;box-sizing:border-box;}

.wrapper {
	margin: 0;
	padding: 15px;
	background-color: #FFE2B8;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

header {
	background-position: cover;
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
 
}

nav {
    background-color: #E8C66A ;
    border: 1px black solid;
    padding: 20px;
}

.nav >li {
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
	display: inline-block;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: .25em;
	text-align: center;
	margin: auto;
}

a:link {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #F26101;
}

p {
	color: #000000;
	padding: 0 50px 0 50px;
}

section {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}


article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
    text-align: center;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .15em;
	color: #F26101;
	padding: 15px 0;
}

.hero {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
    text-align: center;
}

#slogan {
	letter-spacing: 4px;
	font-size: 18px;
	color: #000000;
	text-align: center;
	margin: auto;
}

#folio {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
}

#email {
	background-color: #FFC675;
	color: #0000ff;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	text-decoration: none; 
}

li {
	text-align: center;
	list-style-type: none;
}

ul {
	text-align: center;
}

footer {
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
	text-align: center;
}

