h1 {
font-family: 'Roboto Slab', serif;
font-size: 30px;
text-align: center;
color: #F26101;
}

body {
	
	text-align: center;
	background: url("images/macbookpro.png");
	background-position: center;
	background-color: #F7F7F6; 

    }

p {
	font-family: raleway;
	line-height: 200%;
	color: #595959;
	text-align: left;
	padding-left: 110px;
	padding-right: 110px;	
}

#slogan {
font-family: Raleway;
letter-spacing: 4px;
font-size: 18px;
font-color: #000000;
text-align: center;
}

ul {
	color: #F26101;
	line-height: 200%;
    font-family: Raleway;
    text-align: center;
    list-style-type: none;
}

a {
	color: #0000ff;
    font-family: Raleway;
	text-align: center;
	text-decoration: none; 
}