* {margin:0;padding:0;box-sizing:border-box;}
h1 {
font-family: 'Roboto Slab', serif;
font-size: 30px;
text-align: center;
color: #F26101;
}

body {
	background-color: #F7F7F6;
	font-size: 16px;
	color:#595959;
	font-family: raleway;
	line-height:1.3;
}

#slogan {letter-spacing: 4px;font-size: 18px;color: #000000;text-align: center;}

ul {
	color: #F26101;
	text-align: center;
	list-style-type: none;
}

a {
	color: #0000ff;
    font-family: Raleway;
	text-align: center;
	text-decoration: none; 
}
#intro {
	background: url("../images/macbookpro.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
	padding: 10em 0 0;
}
